body{
	margin: 0;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: red;
	text-align: center;
}

h1, h2 {
	font-family: 'Press Start 2P', cursive;
}

header h1{
	color: white;
}

header img {
	border-radius: 150px;
	width: 600px;

}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

main img{
	max-width: 100%;
}


h2{
	font-size: 35px;
	color: red;
}

a{
	color: red;
}

a:hover{
	color: white;
	background-color: purple;
}

footer{
	background-color: red;
	text-align: center;
	color: white;
	padding: 50px;

}

footer p{
	margin: 0px;
}

p.bullshit{

	color: green;

}